@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Inter:wght@200&display=swap");

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 140px;
    top: 26px;
}

h1 {
    position: absolute;
    width: 137px;
    height: 30px;
    left: 126px;
    top: 115px;

    font-family: "Aref Ruqaa Ink", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.underline {
    position: absolute;
    width: 180px;
    height: 0px;
    left: 100px;
    top: 196px;
    border: 0.5px solid #a4acad;
}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.t_1 {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 179px;
    top: 227px;
    color: #ff9846;
}

.t_2 {
    position: absolute;
    width: 56px;
    height: 30px;
    left: 179px;
    top: 287px;
}

.t_3 {
    position: absolute;
    width: 52px;
    height: 30px;
    left: 179px;
    top: 347px;
}

.t_4 {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 179px;
    top: 407px;
}

.t_5 {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 179px;
    top: 467px;
}

.t_6 {
    position: absolute;
    width: 81px;
    height: 30px;
    left: 179px;
    top: 527px;
}

.t_7 {
    position: absolute;
    width: 57px;
    height: 30px;
    left: 179px;
    top: 587px;
}

.t_8 {
    position: absolute;
    width: 110px;
    height: 30px;
    left: 179px;
    top: 647px;
}

.t_9 {
    position: absolute;
    width: 93px;
    height: 30px;
    left: 179px;
    top: 707px;
}

.t_10 {
    position: absolute;
    width: 69px;
    height: 30px;
    left: 186px;
    top: 767px;
}
